#postTopic {
  cursor: pointer;
  will-change: transform;
  transform: translateY(100%);
}
#postTopic p {
  color: var(--primary-text-color);
}
#postTopic.is-show-scrollToTop-tips {
  transition: transform 300ms linear 300ms;
  transform: translateY(-100%);
}
#postTopic.is-flash-scrollToTop-tips {
  transition: transform 300ms linear 900ms;
  transform: translateY(0);
}
#postTopic.is-switch-post-title {
  transition: none;
  transform: translateY(0);
}
#postTopic.is-show-post-title {
  transition: transform 300ms linear;
  transform: translateY(0);
}
#postTopic.is-hidden-topic-bar {
  transition: transform 100ms linear;
  transform: translateY(100%);
}
#postTopic.immediately-show {
  transition: none;
  transform: translateY(0);
}

.post-page .post-content img {
  display: block;
  margin: 0 auto;
  max-height: 500px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  will-change: opacity;
}
.post-page .post-content a {
  color: #3273dc;
}
.post-page .jump-container .button {
  max-width: calc(50% - 5px);
}
.post-page .jump-container .button span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-page .comment-container {
  border-top: 1px solid var(--border-line-color);
}
.post-page .toc {
  position: sticky;
  top: 60px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  height: calc(100vh - 100px);
  overflow: auto;
  list-style: none !important;
  border-left: 1px solid var(--border-line-color);
}
.post-page .toc::-webkit-scrollbar {
  display: none;
}
.post-page .toc ol {
  margin-top: 5px;
  margin-left: 15px;
  list-style: none !important;
}
.post-page .toc .is-active span {
  color: #3273dc !important;
}
.post-page :target {
  padding-top: 60px;
  margin-top: -60px !important;
}

code[class*=language-],
pre[class*=language-] {
  color: #f8f8f2;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #272822;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.important,
.token.regex {
  color: #fd971f;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[class*=language-].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*=language-].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button {
  cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: #fff;
  text-decoration: none;
}

pre {
  overflow: hidden !important;
}
pre code {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  top: 20px;
}
pre::before {
  content: "";
  position: absolute;
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 15px;
  transform: translate(-50%);
}
pre::after {
  content: "";
  position: absolute;
  background: sandybrown;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 30px;
  transform: translate(-50%);
}
pre code:first-child::after {
  content: "";
  position: absolute;
  background: limegreen;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -26px;
  left: -15px;
  transform: translate(-50%);
}